body {
  font: {
    family: $primary-font;
    weight:300;
    size: 100%;
  }
}

/**
* Lists
*/
ul, ol {
	list-style: square;
	margin-left: $spacing-unit;
}

ul.menu, ul.social-media {
	margin-left: 0;
}

li {
	> ul,
	> ol {
		margin-bottom: 0;
	}
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}
